

      {% unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' %}
         
         
<nav class="breadcrumb" aria-label="breadcrumb">
        {% assign t = template | split: '.' | first  %}
              
                <ol class="breadcrumb-list">
                    <li>Está usted en  </li>
                  <li>
                    <a href="/">Inicio</a>
                  </li>
                  <li>
                    |
                  </li>
                  {%case t%}
                  {%when 'page'%}
                  <li>
                    <a aria-current="page">{{ page.title }}</a>
                  </li>
                  
                  {%when 'product'%}
                  {% if collection.url %}
                
                  <li>
                    {{ collection.title | link_to: collection.url }}
                  </li>
                  <li>
                    |
                  </li>
                {% endif %}
            
                <li>
                  <a  aria-current="page">{{ product.title }}</a>
                </li>
                 {%when 'collection' and collection.handle%}
                 {% if current_tags %}
                 <li>{{ collection.title | link_to: collection.url }}</li>
                 <li>
                  |
                </li>
                 <li>
                   {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+"}}{% endcapture %}
                   <a  aria-current="page">{{ current_tags | join: " + "}}</a>
                 </li>
               {% else %}
                 <li>
                   <a  aria-current="page">{{ collection.title }}</a>
                 </li>
               {% endif %}
               {%when 'blog'%}
               {% if current_tags %}
               <li>{{ blog.title | link_to: blog.url }}</li>
               <li>
                |
              </li>
               <li>
                 {% capture tag_url %}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
                 <a  aria-current="page">{{ current_tags | join: " + " }}</a>
               </li>
             {% else %}
               <li>
                 <a  aria-current="page">{{ blog.title }}</a>
               </li>
             {% endif %}
              {%when 'article'%}
               <li>{{ blog.title | link_to: blog.url }}</li>
               <li>
                |
              </li>
              <li>
               <a  aria-current="page">{{ article.title }}</a>
               </li>
                  {%else%}
                     <li aria-current="page">
                        <a  aria-current="page">{{ page_title }}</a>
                      </li>
                  {%endcase%}
                
                </ol>
              </nav>

      {% endunless%}