
{% if section.settings.align_logo == 'center' %}
{%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
{% else %}
{%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
{% endif %}

<div class="grid__item {{ logo_classes }}">
{%comment%}
  Use the uploaded logo from theme settings if enabled.
  Site name gets precedence with H1 tag on homepage, div on other pages.
  {%endcomment%}

{% if template.name == 'index' %}
  <h1 class="h2 site-header__logo">
{% else %}
  <div class="h2 site-header__logo">
{% endif %}
  {% if section.settings.logo %}
    {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <a href="/" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
      {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      <div class="image-logo-header-container image-logo-header-container-item">
      <div class="image-logo-header">
          <img class="lazyload js"
          src="{{ section.settings.logo | img_url: '82X82' }}"
          data-src="{{ img_url }}"
         
          data-sizes="auto"
          alt="{{ logo_alt | escape }}">
     <noscript>
       {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
       <img src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            style="max-width: {{ section.settings.logo_max_width }}px;">
     </noscript>
      </div>
       {%if section.settings.nombre_tienda != blank%}
       <div class="header-section-title image-logo-header-container-item">
          <p class="title-store">{{section.settings.nombre_tienda}}</p>
      </div>
       {% endif%}
     
      </div>
     
      
    </a>
  {% else %}
    <a class="site-header__logo-link" href="/">{{ shop.name }}</a>
  {% endif %}
{% if template.name == 'index' %}
  </h1>
{% else %}
  </div>
{% endif %}
</div>

{% if section.settings.align_logo == 'left' %}
{%comment%}
<nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
  {% include 'site-nav' %}
</nav>
{%endcomment%}
{% endif %}











    {%comment%}

{% if section.settings.align_logo == 'center' %}
{%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
{% else %}
{%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
{% endif %}

<div class="grid__item {{ logo_classes }}">

 
      Use the uploaded logo from theme settings if enabled.
      Site name gets precedence with H1 tag on homepage, div on other pages.
  
 
    {% if request.page_type == 'index' %}
      <h1 class="h2 group-flex  site-header__logo">
    {% else %}
      <div class="h2 group-flex site-header__logo">
    {% endif %}
      {% if section.settings.logo %}
        {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
                <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered grid-item{% endif %}">
                        {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                        <img class="lazyload js"
                             src="{{ section.settings.logo | img_url: '300x300' }}"
                             data-src="{{ img_url }}"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ logo_alt | escape }}"
                             style="max-width: {{ section.settings.logo_max_width }}px">
                    
                        <noscript>
                          {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                          <img src="{{ section.settings.logo | img_url: image_size }}"
                               srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                               alt="{{ section.settings.logo.alt | default: shop.name }}"
                               style="max-width: {{ section.settings.logo_max_width }}px;">
                        </noscript>
                      </a>
      
      
        {%if section.settings.nombre_tienda %}
        <div  > 
        <p class="title-store">hasjhhda{{section.settings.nombre_tienda}}</p>
        </div>
        {%endif%}
      {% else %}
        <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
      {% endif %}
    {% if request.page_type == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}


    </div>
  </div>
  
    {%endcomment%}