{% comment %}
    Renders a search form

    Usage:
    {% include 'search-form' %}
{% endcomment %}


        <form action="{{ routes.search_url }}" method="get" class="custom-search search" role="search">
            <div class="input-group">
                {%assign logo_search= 'search_2x.png'  | asset_img_url: '30X30'  %}
      
                <div class="search-div search-position" >
                    <img
                         src="{{ logo_search }}"
                         data-aspectratio="{{ logo_search.aspect_ratio }}"
                         alt="{{ logo_search.alt | escape }}">
                  </div>
                <input class="search-header__input search__input input_border"
                type="search"
                name="q"
                placeholder="{{ 'general.search.placeholder' | t }}"
                aria-label="{{ 'general.search.placeholder' | t }}">
              <button class="btn btn-margin-left" type="submit">
                Buscar
              </button>
          
            </div>
           
          </form>



