<script>
    function showDiv(evt, divName) {
   
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("menu-content");
     
      var divChange =  document.getElementById(divName);
      var imageMas = document.getElementById(divName+'-mas')
      var imageMenos= document.getElementById(divName+'-menos')
    
      var classList = String(divChange.classList);
   if (classList.includes('menu-links-mobile-inactive'))
   {
    divChange.classList.remove("menu-links-mobile-inactive");
    imageMas.classList.remove("menu-links-mobile-active");
    imageMenos.classList.remove("menu-links-mobile-inactive");
    divChange.classList.add("menu-links-mobile-active");
    imageMas.classList.add("menu-links-mobile-inactive");
    imageMenos.classList.add("menu-links-mobile-active");
   }
   else{
    divChange.classList.remove("menu-links-mobile-active");
    imageMas.classList.remove("menu-links-mobile-inactive");
    imageMenos.classList.remove("menu-links-mobile-active");
    divChange.classList.add("menu-links-mobile-inactive");
    imageMas.classList.add("menu-links-mobile-active");
    imageMenos.classList.add("menu-links-mobile-inactive");
   }
    }
    </script>


      <div  class="">
      
<nav class="desktop-custom-footer">
    <div class="footer-custom flex-footer flex-nowrap footer-top-margin">

 
        {% for block in section.blocks %}
      
           {%assign menu_name = block.settings.selected_menu%}
           {%assign menu = linklists[menu_name]%}
           {%if forloop.index < section.blocks.size%}
           <div class="menu-item-custom-footer site-footer__item--one-quarter ">
              <h3 class="custom-menu-title">{{menu.title}}</h3>
            <ul>
            {%for link in menu.links%}
            <li class="custom-menu-link capitalize-text margin-top-link-item">
              <a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
            </ul>
           </div>
           {%else%}
           <div class="menu-item-custom-footer site-footer__item--one-quarter">
              <h3 class="custom-menu-title no-margin-titles">{{block.settings.contact_title}}</h3>
              <div class="contact-phone flex-footer contact-block-margin">
        
                  <div class=" logo-container-size">
                      {%include 'icon-phone'%}
                  </div>
              
                 <div class="contact-info-footer custom-menu-link text-container-size">
                   {{block.settings.phone_number}}
              </div>
              </div>
              <div class="contact-email flex-footer margin-contact-item">
                  <div class=" logo-container-size">
                      {%include 'icon-email'%}
                    </div>
                        
                    <div class="contact-info-footer custom-menu-link text-container-size">
                        {{block.settings.email}}
                     </div>
              </div>
      
      
              <div class="contact-address flex-footer margin-contact-item">
              <div  class=" logo-container-size">
                      {%include 'icon-marcador'%}
                     </div>
       
                     <div class="contact-info-footer custom-menu-link text-container-size">
                         {{block.settings.address}}
                      </div>
             </div>
          </div>
      
           {%endif%}
         {% endfor %}
      
        </div>
      
       
</nav>



    <nav class="mobile-custom-footer " role="navigation">
   
      {%for block in section.blocks%}
        {%if forloop.index < section.blocks.size%}

        {%assign menu_name = block.settings.selected_menu%}
        {%assign menu = linklists[menu_name]%}
        <div class="menu-item-custom-footer-mobile">
          <div class="menu-title-mobile " onclick="showDiv(event,'{{menu_name}}')">
              <h3 class="custom-menu-title ">{{menu.title}}</h3>
              {%assign logo_mas = 'mas_2x.png'  | asset_img_url: '30X30'  %}
              {%assign logo_menos = 'menos-active_2x.png'  | asset_img_url: '30X30'  %}

              <div id="{{menu_name}}-mas" class="img-logo-footer-margin" >
                  <img id="{{ img_id }}"
                       class="lazyload"
                       src="{{ logo_mas}}"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ logo_mas.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{ logo_mas.alt | escape }}">
                </div>

                <div id="{{menu_name}}-menos" class="img-logo-footer-margin  menu-links-mobile-inactive" >
                    <img id="{{ img_id }}"
                         class="lazyload"
                         src="{{ logo_menos }}"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ logo_mas.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ logo_mas.alt | escape }}">
                  </div>

          </div>
          <div id="{{menu_name}}" class="menu-content menu-links-mobile-inactive">
              {%for link in menu.links%}
              <li class="custom-menu-link capitalize-text margin-top-link-item">
                <a href="{{link.url}}">{{link.title}}</a></li>
              {% endfor %}
              </ul>
          </div>
         <ul>
       
        </div>
        {%else%}
        <div class="menu-item-custom-footer-mobile">
              <div  class="menu-title-mobile " onclick="showDiv(event,'{{block.settings.contact_title}}')">
                  <h3 class="custom-menu-title">{{block.settings.contact_title}}</h3>
                  {%assign logo_mas = 'mas_2x.png'  | asset_img_url: '30X30'  %}
                  {%assign logo_menos = 'menos-active_2x.png'  | asset_img_url: '30X30'  %}

                  <div id="{{block.settings.contact_title}}-mas" class="img-logo-footer-margin" >
                      <img id="{{ img_id }}"
                           class="lazyload"
                           src="{{ logo_mas }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ logo_mas.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ logo_mas.alt | escape }}">
                    </div>

                    <div id="{{block.settings.contact_title}}-menos" class="img-logo-footer-margin menu-links-mobile-inactive" >
                        <img id="{{ img_id }}"
                             class="lazyload"
                             src="{{ logo_menos }}"
                             data-src="{{ img_url }}"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="{{ logo_menos.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ logo_menos.alt | escape }}">
                      </div>


              </div>
          
            <div id="{{block.settings.contact_title}}" class="menu-content menu-links-mobile-inactive" >
              
              <div class="contact-phone flex-footer contact-block-margin flex-start">
        
                  <div class=" contact-mobile-margin-right">
                      {%include 'icon-phone'%}
                  </div>
              
                 <div class=" custom-menu-link ">
                   {{block.settings.phone_number}}
              </div>
              </div>
              <div class="contact-email flex-footer margin-contact-item flex-start">
                  <div class="contact-mobile-margin-right">
                      {%include 'icon-email'%}
                    </div>
                        
                    <div class=" custom-menu-link">
                        {{block.settings.email}}
                     </div>
              </div>
      
      
              <div class="contact-address flex-footer margin-contact-item flex-start">
              <div  class="contact-mobile-margin-right">
                      {%include 'icon-marcador'%}
                     </div>
       
                     <div class=" custom-menu-link  ">
                         {{block.settings.address}}
                      </div>
             </div>
            </div>
            
          
    
    
         
        </div>
         {%endif%}        
         
         
         
      {%endfor%}
        
    </nav>

    <div class="flex-suscribe">
            {%- assign formId = 'ContactFooter' -%}
                  {% form 'customer', id: formId, novalidate: 'novalidate' %}
                    {%- if form.posted_successfully? -%}
                      <p class="form-message form-message--success" tabindex="-1" data-form-status>
                        {{ 'general.newsletter_form.confirmation' | t }}
                      </p>
                    {%- endif -%}
        <div class="footer-contact-form"> 
          <div class="suscribir-label footer-contact-form-item"> 
              <h4 class="new-setting-text custom-menu-title" >suscríbete</h4>
          </div>   
           <div class="footer-contact-form-item"> 
             <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]"
                    id="{{ formId }}-email"
                    class=" margin-0 input-suscribe-size input_border"
                         value="{{ form.email }}"
                        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                        aria-required="true"
                        required
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="{{ formId }}-email-error"
                          data-form-status
                        {% endif %}
                         > 
           </div>
            <div class="footer-contact-form-item">
                <button class="btn-margin-left btn margin-0" name="commit" id="Subscribe">
                    ENVIAR
                    </button>
            </div>
             {% if form.errors contains 'email' %}
                      <span id="{{ formId }}-email-error" class="input-error-message">
                        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                        {% include 'icon-error' %}
                        <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                      </span>
                    {% endif %}
            {%endform%}
        </div>

        <div class="footer-social-logo">
            <div class="footer-social-logo-item">
            <h4 class="siguenos-label">Síguenos</h4>
            </div>
            <div class="inline-logos footer-social-logo-item">
            
            <div class="inline-logos-item logo-size">
            
              {%include 'new-icon-facebook'%}
              </div>
              
              <div class="inline-logos-item logo-size" >
                 {%include 'icon-instagram'%}
                </div>
            </div>
        
        
          </div>   
      </div>
      </div>

  



    {% schema %}
    {
  "name": {
      "en": "Custom footer",
      "es": "Footer personalizado"
  },
  "class": "Footer section",
  "max_blocks": 4,
  "blocks": [
  {
    "type": "link_list",
    "name": {
        "en": "Menu",
        "es": "Menú"
    },
    "settings": [
    {
    "type": "text",
    "id": "menu_title",
    "label": {
       "en": "Menu title",
       "es": "Titulo de menú"
    }
    },
    {
     "type": "link_list",
     "id": "selected_menu",
     "label": {

        "en": "Menu",
        "es": "Menú"
     }

    }
    ]
  },
  {
    "type": "text",
    "name": {
      "en": "Contact info",
      "es": "Información de contacto"
    },
    "settings": [
    {
      "type": "text",
      "id": "contact_title",
      "label": {
        "en": "Contact title",
        "es": "Título de contacto"
      }
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": {
        "en": "Phone number",
        "es": "Numero de teléfono"
      }
    },
    {
      "type": "text",
      "id": "email",
      "label": {
        "en": "Email",
        "es": "Correo electrónico"
      }
    },
    {
      "type": "text",
      "id": "address",
      "label": {
        "en": "Address",
        "es": "Dirección"
      }
    }

    ]
  }
  ]

}
{% endschema %}