
<div class="page-width carousel-section-margin">
<div data-section-id="{{ section.id }}" data-section-type="featured-collection-carousel" class="featured-collection-corousel-section">
    <div class="flex-group-personalizado header-custom-collection-list">
     <div class="flex-item-personalizado ">
        <h2 class="heading-custom-collection-list"> {{section.settings.title}} </h2> 
     </div>
     <div class="flex-item-personalizado section-subtitle margin-subtitle">
        <p>  {{section.settings.subtitle}}  </p>  
     </div>
 </div>



 <div class="carousel js-carousel">
    <div class="carousel__container js-carousel-container">
      <div class="carousel__list js-carousel-list">
          {%assign collection=collections[section.settings.c_id].products%}
          {%for product in collection limit:8 %}
    
       
    
              <div class=" carousel__item js-carousel-item  product_carrousel_item flex-group-personalizado">
                {%assign image_url = product.featured_image  %}
              
               
                <div class="carrousel_product_image">
                    <img id="{{ img_id }}"
                    class=" lazyload"
                    src="{{ image_url| img_url: 'master' }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image_url.aspect_ratio }}"
                    data-sizes="cover"
                    alt="{{ image_url.alt | escape }}">
                </div>
                
               
                  <div class="title-item-carousel carousel-title-margin">
                  {{product.title}}
                  </div>
                  <div class="price-item-carousel carousel-price-margin">
                  {{product.price |  money_with_currency}}
                  </div>
                  <div class="vendor-item-carousel carousel-margin-price">
                   {{product.vendor}}
                  </div>
                  
                </div>
          {%endfor%}
    
   
    
      </div>
    </div>
    <div class="carousel__nav">
        <button class="carousel__button--prev js-carousel-button btn-left-position carousel_position_button new_slideshow__arrow-left button-arrow-size button-arrow arrow-left arrow-item arrow-color no-borders" data-dir="prev" aria-label="{{ 'sections.slideshow.previous_slide' | t }}">
            {%assign logo_arrow_right= 'arrow-right-white_2x.png'  | asset_img_url: '32X32'  %}
       
            <div  class=" arrow-size">
                {%include 'svg-arrow-left'%}
              </div>
          </button>
         
          <button class="  carousel__button--next js-carousel-button   btn-right-position carousel_position_button new_slideshow__arrow-right button-arrow-size button-arrow arrow-item arrow-color no-borders" data-dir="next" aria-label="{{ 'sections.slideshow.next_slide' | t }}">
               
            
              <div  class=" arrow-size">
                 {%include 'svg-arrow-right'%}
                </div>
            </button>

    </div>
  </div>
</div>
</div>


{% schema %}
{
"name": {

"en": "Collection-carousel",
"es": "Carrusel de colecciones"

},
"settings" : [
{
"type": "text",
"id": "title",
"label": {
"de": "Titel",
"en": "Heading",
"es": "Título",
"fr": "En-tête",
"it": "Heading",
"ja": "見出し",
"pt-BR": "Título"
},
"default": {

"en": "Title",
"es": "Título"

}
},
{
"type": "text",
"id": "subtitle",
"label": {
"de": "Untertitel",
"en": "Subheading",
"es": "Subtítulo",
"fr": "Sous-titre",
"it": "Sottotitolo",
"ja": "小見出し",
"pt-BR": "Subtítulo"
},
"default": {

"en": "Subtitle",
"es": "Subtítulo"

}
},
{ 
"type": "collection",
"id" : "c_id",
"label" : {
"en": "select collection",
"es": "seleccione colección"
}
},
{
"type": "checkbox",
"id": "check_vendor",
"label" : {
"en":"Show product vendors",
"es": "Mostrar marcas de producto"
},
"default": true
}

],
"presets" : [
{
"name": {
"en": "featured-collection-carousel",
"es": "Colección carrusel" 
},
"category": {
"en": "Collections",
"es": "Collecciones"
}
}
]
}
{% endschema %}