<div  class="page-width">
      
    <nav class="desktop-custom-footer">
        <div class="footer-custom flex-footer flex-nowrap footer-top-margin">
  
            {% for block in section.blocks %}
            {%if block.type == 'menu'%}
            <div class="menu-item-custom-footer site-footer__item--one-quarter">
        
            {%assign menu_name = block.settings.selected_menu%}
            {%assign menu = linklists[menu_name]%}
            {%if block.settings.menu_title != ''%}
             <h3 class="custom-menu-title">{{block.settings.menu_title}}</h3>
             {%endif%}
             <ul>
                {%for link in menu.links%}
                <li class="custom-menu-link capitalize-text margin-top-link-item">
                  <a href="{{link.url}}">{{link.title}}</a></li>
                {% endfor %}
                </ul>
          </div>
          {%elsif block.type == 'contact_info'%}
          <div class="menu-item-custom-footer site-footer__item--one-quarter">

    
              <h3 class="custom-menu-title no-margin-titles">{{block.settings.contact_title}}</h3>

              {%if block.settings.phone_number and block.settings.phone_number != ''%}
             
             
              <div class="contact-phone flex-footer contact-block-margin">
        
                  <div class=" logo-container-size">
                      {%include 'icon-phone'%}
                  </div>
              
                 <div class="contact-info-footer custom-menu-link text-container-size">
                   {{block.settings.phone_number}}
              </div>
              </div>
              {%endif%}

              {%if block.settings.email and block.settings.email != ''%}
             
              <div class="contact-email flex-footer margin-contact-item" >
                  <div class=" logo-container-size">
                      {%include 'icon-email'%}
                    </div>
                        
                    <div class="contact-info-footer custom-menu-link text-container-size">
                        {{block.settings.email}}
                     </div>
              </div>
              {%endif%}
      
             {%if block.settings.address and block.settings.address != ''%}
      
              <div class="contact-address flex-footer margin-contact-item">
              <div  class=" logo-container-size">
                      {%include 'icon-marcador'%}
                     </div>
       
                     <div class="contact-info-footer custom-menu-link text-container-size">
                         {{block.settings.address}}
                      </div>
             </div>
             {%endif%}


          </div>
          {%endif%}

           {%endfor%}
            
          </div>
    </nav>
  </div>


  {% schema %}
  {
"name": {
    "en": "Custom footer",
    "es": "Footer personalizado"
},
"class": "Footer section",
"max_blocks": 4,
"settings": [
   {
    "id": "show_newsletter",
    "type": "checkbox",
    "label":{
      "en": "Show newsletter",
      "es": "Mostrar boletín"
    },
    "default": false
   }
],
"blocks": [
{
  "type": "menu",
  "name": {
      "en": "Menu",
      "es": "Menú"
  },
  "settings": [
  {
  "type": "text",
  "id": "menu_title",
  "label": {
     "en": "Menu title",
     "es": "Titulo de menú"
  }
  },
  {
   "type": "link_list",
   "id": "selected_menu",
   "label": {

      "en": "Menu",
      "es": "Menú"
   }

  }
  ]
},
{
  "type": "contact_info",
  "name": {
    "en": "Contact info",
    "es": "Información de contacto"
  },
  "settings": [
  {
    "type": "text",
    "id": "contact_title",
    "label": {
      "en": "Contact title",
      "es": "Título de contacto"
    }
  },
  {
    "type": "text",
    "id": "phone_number",
    "label": {
      "en": "Phone number",
      "es": "Numero de teléfono"
    }
  },
  {
    "type": "text",
    "id": "email",
    "label": {
      "en": "Email",
      "es": "Correo electrónico"
    }
  },
  {
    "type": "text",
    "id": "address",
    "label": {
      "en": "Address",
      "es": "Dirección"
    }
  }

  ]
}
]

}
{% endschema %}
